/* prepare html document */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* target the html and set a background color */
html{
    background-color: #f2f2f2;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#loading-wrapper {
    -moz-animation: loadAnimation 0s ease-in 1.3s forwards;
    /* Firefox */
    -webkit-animation: loadAnimation 0s ease-in 1.3s forwards;
    /* Safari and Chrome */
    -o-animation: loadAnimation 0s ease-in 1.3s forwards;
    /* Opera */
    animation: loadAnimation 0s ease-in 1.3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes loadAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes loadAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#loading-wrapper {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.hideme {

    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px;
}


.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
/* target the body and put in the center of the page */
body header, main {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.logo {
    padding: 25px 0px 20px 0px;
    width: 60%;
 
}

.logo img {
width: 100%;
}


.nav-link {
    width: 100%;
    padding: 20px 0px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink-icon {
height: 100%;
}

.location-form {
    text-decoration: none;
    color: black;
        margin-left: 5px;
        font-size: 18px;
        font-weight: 500;
        background-color: rgba(128, 128, 128, 0.027);
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        width: 41%;
        outline: none;

}
/*apply hover effects to menu options*/
.location-form--active {
    border: none;
    
}
.location-form::placeholder {
    font-color: black;
  font-weight: 700;
  font-family: Roboto;
  font-size: 16px;
  align-text: center;
}



/* Quick Search Container Begins */

.quick-search-container {
    display: flex;
    width: 100%; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
background-color: #d8d5d752;
}

.quick-search-headline {
    margin-top: 10px;
padding: 30px;
text-align: center;
}

.quick-search-subtitle {
width: 85%;
padding: 10px;
font-size: 18px;
text-align: center;
font-weight: 400;
}

/* box-shadow parameters= offset-x | offset-y | blur-radius | spread-radius | color */
.explore-btn {
border: none;
box-shadow: 0 4px 8px 0px rgba(0, 0, 0, .2);
color: white;
padding: 15px 30px;
margin-bottom: 50px;
margin-top: 30px;
font-size: 18px;
border-radius: 30px;
background: linear-gradient(0deg, rgba(147,86,220,1) 21%, rgba(255,121,218,1) 100%, rgba(147,86,220,1) 100%);
cursor: pointer;
 transition: ease 1s;
 max-width: 65%;

}

.explore-btn:hover {
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, .3);
    transform: scale(1.2);
   
}

/* Quick Search Container Ends */

/* Explaining the Process Section Begins */

.process-section {
    display: flex;
    width: 100%; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.process-headline {
    font-size: 20px;
    width: 100%;
    margin: 30px 0px;
    padding-left: 30px;

}

.process-btn-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: center;
    align-items: center;
}

.process-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    align-items: center;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, .2);
    background-color: #d8d5d752;
    cursor: pointer;
    transition: ease;
}

.process-btn:hover {
    background-color: rgba(229, 211, 250, 0.356);

}

.process-btn:hover .process-btn-icon {
    color: #9356dc;
    
}

.componentWrapper {
    border: none;
    border-radius: 40px;
    width: 80%;
    margin-bottom: 50px;
}
  
.componentWrapper .how-to-step {
    position:absolute;
    margin-left:-15px;
    margin-top: 38px;
    color:white;
    background: #9356dc;
    font-size: 18px;
    border-radius:50%;
    padding:2px 10px;
    
}


.process-btn-icon {

    margin-right: 30px;
    margin-left: 20px;
    font-size: 20px;
}



.process-btn-text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

/* PROCESS SECTION ENDS */

/* RESTAURANT SECTION BEGINS */

.rest-section-container {
    background-color: #d8d5d752;
    display: flex;
    width: 100%; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
        
.rest-headline {
    width: 96%;
    padding-left: 35px;
    padding-top: 60px;
}

.rest-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%; 
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: auto;
}

.new-rest-wrapper {
    position: relative;
    text-align: left;
    color: rgb(126, 206, 226);
    width: 100%;
}

.new-rest-label {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #267963ce;
    background: #99E2D0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 30px;
    

}

.rest-card {
    display: flex;
    width: 90%; 
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
    height: 330px;
    border-radius: 20px;
    margin: 30px;
    text-decoration: none;
    position: relative;
    transition: ease 1s;
}


.rest-card:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .5);
    transform: scale(1.03);
}

.rest-card:active {
    color: black;
}

.rest-card-1 {
    margin-top: 20px;
}

.rest-img {
height: 75%;
width: 100%;
object-fit: cover;
border-radius: 15px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0;
}

.rest-textbar {
    display: inline-flex;
    width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 15px 10px;
}

.rest-text {
    margin-left: 10px;

}

.rest-text h3 {
    font-weight: 700;
    font-size: 20px;
}

.rest-text p {
    padding-top: 5px;
}


/* get the heart to fill on click */
:root {
    --stroke-width: 2px;
    --heart-height: 35px;
    --heart-width: 35px;
    --transition-length: 1.2s;
    --heart-color: #9356dc;
     
}
 
.heart-container {
    height: 35px;
    position: relative;
    width: var(--heart-width, 100px);
    aspect-ratio: 1/1;
    overflow: hidden;
    clip-path: url(#svgClip);
    margin-top: -5px;
    margin-right: 5%;
}
 
.heart-clip {
    appearance: none;
    margin: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    border: 3px solid black;
}

.heart-container:hover {
    
    background-color: rgb(231, 224, 224);
    transition: ease 1s;
}
 
.heart-clip + .fill {
    top:0;
    left:0;
    transform: translateY(50%);
    width: calc(2 * var(--heart-width, 100px));
    aspect-ratio: 1/1;
    transition: transform var(--transition-length, 0s) cubic-bezier(.2, .6, .8, .4);
}
   
.heart-clip:checked + .fill {
    transform: translateY(0);
}
 
.heart-stroke {
    width: calc(100% - (2 * var(--stroke-width, 2px)));
    aspect-ratio: 1/1;
    position: absolute;
    top: var(--stroke-width, 0);
    left: var(--stroke-width, 0);
    fill: transparent;;
    stroke: var(--heart-color);
    stroke-width: var(--stroke-width, 1px);
}
 
.waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    fill: var(--heart-color);
}
 
@keyframes waveAction {
    0% {
       transform: translate(-175px, 0px);
    }
    100% {
       transform: translate(0px, 0px);
    }
 }

.rest-card-1 {

}

.rest-card-2 {

}

.rest-card-3 {

}

.rest-card-4 {

}

/* RESTAURANT SECTION ENDS */

/* FOOTER BEGINS */

.footer-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
    justify-content: flex-start;
    padding: 30px;
}

.footer-logo {
    filter: -webkit-filter: invert(1); 
    filter: invert(1);
    width: 33%;
}

.footer-link-container {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-link {
   
    margin-top: 15px;
/* not sure why, but placing color:white and text-decor:none here did nothing to affect my site */
}

.suggest-link {
    color: white;
    text-decoration: none;
    display: inline;
}

.suggest-icon {
    font-size: 12px;
}

.suggest-text {
    padding-left: 8px;
}

.partner-link {
    color: white;
    text-decoration: none;
}

.partner-icon {
    font-size: 12px;
}

.partner-text {
    padding-left: 8px;
}

.legal-link {
    color: white;
    text-decoration: none;
}

.contact-link {
    color: white;
    text-decoration: none;
}

/* FOOTER ENDS */

/* SUB (RESTAURANTS) PAGES Style BEGINS */

/* HEADER BEGINS */

/* NAV BEGINS */

.rest-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.rest-nav-icon {
    font-size: 18px;
    margin:25px;
    text-decoration: none;
}

.rest-nav-logo {

    margin-right: 15%;
    width: 65%;
    padding: 20px;
}

/* NAV ENDS */

/*generic rest-card to header container */

.rest-header {
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;   
}
/* unique page header container properties */

.rest1header {

}   

.restpg-img {
    width: 100%;
    object-fit: cover;
    height: 350px;
} 

.rest1img {

}

.restpg-textbar {
    position: absolute;
    bottom: .0001px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e3e6;
    padding: 30px 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: Shrikhand;
    font-size: 6vw;
}

.restpg-textbar h3 {
max-width: 85%;
}

.rest1textbar {

}

/*END OF REST.PAGE HEADER STYLE*

/* MENU SECTION BEGINS */

.menu-container {

    background-color:#e7e3e6;
}

.menu-box {
    padding-top: 30px;
}

.menu-header {
    position: relative;
    line-height: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
/* the above and below blocks achieve the partial underline */

.menu-header:before {
    position: absolute;
    left: 0;
    top: 1.5em;
    height: 0;
    width: 50px;
    content: '';
    border-top: 3px solid #99E2D0;
}

.entree-box {
    width: 100%;
    padding-bottom: 10px;
}
  
.entree-head {

}   

.menu-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.menu-btn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    background-color: white;
    height: auto;
    border: none;  
    border-radius: 15px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all 3s ease;
    
}


.menu-text {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex: 1;
    min-width: 0;
}

.menu-text h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
   
}

.menu-text p {
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
   
}

.price {
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
    padding-bottom: 10px;
    flex-shrink: 0;
}
.check-wrapper {
   background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
        right: -100px;
       
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s forwards;
        animation-delay: 2s;
}
    
    @-webkit-keyframes slide {
        100% { right: 0; }
    }
    
    @keyframes slide {
        100% { right: 0; }
    }

  

/*how to get the flex element .check-wrapper to slide into view from right to left regardless of what its child container (i.add-me) is doing inside it*/
/*translate: scaleX() something or make it an animation with transition checkpoints */













i.add-me {
    height: auto;
    padding: 13px;
    border-radius: 50%;
    display: none;
    background-color: white;
    border: 2px solid black;
    margin: 10px 0px;
    flex-shrink: 0;
    animation: spin 1s linear;
    animation iteration-count: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.menu-btn:hover i.add-me {
    display: flex;
}

.menu-btn:hover .check-wrapper {
    display: flex;
    
}



.entree-btns {

}

.entree-btn {

}

.entree1.1 {

}

.entree1.2 {

}

.entree1.3 {

}

.main-box {
    padding-bottom: 10px;
}

.main-head {

}

.main-btns {

}

.main-btn {

}
  
.main1.1 {

}
  
.main1.2 {

}
  
.main1.3 {

}
  
.dessert-box {
    padding-bottom: 10px;
}

.desserts-head {

}

.dessert-btns {

}
  
.dessert-btn {

} 

.dessert1.1 {

}


.dessert1.2 {

} 
  
.dessert1.3 {

}



/* END MENU SECTION */


/* ORDER SECTION BEGINS */

.order-section {
    width: 100%;
}

.order-box {
    display: flex;
    justify-content: center;
    background-color: #e7e3e6;
    width: 100%;
}

.order-btn {
    border: none;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, .2);
    color: white;
    padding: 15px 30px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 21%, rgba(255,121,218,1) 100%, rgba(147,86,220,1) 100%);
    cursor: pointer;
    transition: ease 1s;
    width: 65%;
}


/* offset-x | offset-y | blur-radius | spread-radius | color */


.order-btn:hover {
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, .3);
    transform: scale(1.2);
   
}


/* EXTRA PAGES STYLE ENDS */



/* STYLE FOR lARGE TABLET SCREEN */

@media only screen and (min-width: 769px) and (max-width: 992px) {

}

/*  STYLE FOR SMALL TABLET SCREEN */

@media only screen and (min-width: 415px) and (max-width: 768px) {

}
   
 