//GENERAL MIXINS TO STANDARDIZE CONTENT BETWEEN BROWSERS

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($same) {
  -webkit-transition: #{$same};
  -moz-transition: #{$same};
  -ms-transition: #{$same};
  -o-transition: #{$same};
  transition: #{$same};
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: #{$shadow};
  -moz-box-shadow: #{$shadow};
  -ms-box-shadow: #{$shadow};
  -o-box-shadow: #{$shadow};
  box-shadow: #{$shadow};
}
// + on element, add: @include box-shadow(offset-x (_px), offset-y (_px), blur-radius (_px), spread-radius (_px), color)


@mixin devices ($breakpoint) { //the mixin name is devices
  
  @if $breakpoint == tablet {    
    @media only screen and (min-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == desktop {    
    @media only screen and (min-width: 993px) {
      @content;
    }
  }
}

// declare mixin parameters, then add the following to the elements: @include devices(desktop) {_:_;} 
