//main container: restaurant cards
#rest-section-container {
  background-color: $sand;
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  h3 {
    width: 96%;
    padding-left: 25px;
    padding-top: 60px;
    font-size: 1.5em;
    @include devices(tablet) {
      margin-left: 30px;
      padding-bottom: 10px; 
    };
  }
}  

.restcard-container {
  margin-bottom: 60px;
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  @include devices(tablet) {
    flex-flow: row wrap;
    margin-bottom: 45px;
  };
}

.restcard-wrapper {
  width: 100%;
  @include devices(tablet) {
    width: 45%;
  };
  @include devices(desktop) {
    width: 24%;
  };
}

.new-restaurant-wrapper {
  position: relative;
  color: rgb(126, 206, 226);
  width: 100%;
}
  
.new-rest-label {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #267963ce;
  background: $tertiary;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 30px;
}
  
.rest-card {
  display: flex;
  max-width: 96%; 
  flex-direction: column;
  align-items: flex-start;
  background-color: $white;
  @include box-shadow(0 0 8px 1px rgba(0, 0, 0, .1));
  height: 250px;
  border-radius: 20px;
  margin: 20px 20px 0px 20px;
  text-decoration: none;
  position: relative;
  @include transition(all .5s ease-in-out);
  @include devices(tablet) {
    margin: 30px; 
    @include transition(all .35s ease-in-out);
  };
  @include devices(desktop) {
    height: 300px;
    @include transition(all .45s ease-in-out);
    @include box-shadow(0 0 5px 1px rgba(0, 0, 0, .1));
  };
}
  
.rest-card:hover {
  @include box-shadow (0 0 8px 1px rgba(0, 0, 0, .1));
  transform: scale(1.01);
  @include devices(tablet) {
    transform: scale(1.03);
  };
  @include devices(desktop) {
    transform: scale(1.01);
  }
}
  
.rest-card:active {
  color: black;
}
  
.rest-img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
}
  
.rest-textbar {
  display: inline-flex;
  width: 100%;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 15px 10px;

  div {
    margin-left: 10px;
    
    h4 {
      font-size: 1.1em;
    }
    p {
      padding-top: 6px;
      font-size: 1em;
    }
  }
}
  
.heart {
  margin-right: 5%;
  
  i {
    font-size: 21px;
    color: white;
    cursor: pointer;
    text-shadow: -1.1px 0 #000, 0 1.1px #000, 1.1px 0 #000, 0 -1.1px #000;
  }

  &:hover i{
    cursor: pointer;
    color: $primary;
    transition: all 1s ease-in-out;
    text-shadow: -1px 0 $primary, 0 1px $primary, 1px 0 $primary, 0 -1px $primary;
  }
}
