// Explore Section of Header Begins

.explore-section {
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $sand;
    
  h1 {
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
  }
  
  p {
    width: 85%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
  }
  a {
    border: none;
    @include box-shadow (0 4px 8px 0px rgba(0, 0, 0, .2));
    color: white;
    padding: 15px 30px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 1em;
    border-radius: 30px;
    background: linear-gradient(0deg, ($primary) 11%, ($secondary)100%, ($primary) 100%);
    cursor: pointer;
    transition: all 1s ease-in-out;
    max-width: 80%;
    text-align: center;
    text-decoration: none;
   
    &:hover {
      @include box-shadow (0px 4px 8px 1px rgba(0, 0, 0, .3));
      transform: scale(1.2);
    }
  }
}  
/* Quick Search Container Ends */
  
/* Explaining the Process Section Begins */
  
.howto-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
  @include devices(desktop) {
    height: 300px; 
  }
    
  h2 {
    width: 100%;
    margin: 35px 0 25px 0;
    padding-left: 30px;
    @include devices(desktop) {
      width: auto;
      padding: 0;
      font-size: 28px;
    }
  }
}