/* NAVIGATION SECTION BEGINS */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
  
.main-nav img {
  padding: 20px 0px 15px 0px;
  margin: 0px 10px;
  max-width: 55%;
}
  
.main-nav div {
  width: 100%;
  padding: 15px 0px;
  font-weight: bold;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
}