//home page how-to buttons 
.howto-btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  @include devices(tablet) {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
  }
}
  
.howto-btn {
  display: flex;
  justify-content: flex-start;
  height: 75px;
  width: 100%;
  align-items: center;
  border: none;
  padding: 15px;
  margin: 2px 5px;
  border-radius: 20px;
  @include box-shadow (0 4px 9px 0px rgba(0, 0, 0, .13));
  background-color: $sand;
  cursor: pointer;
  transition: all .3s ease-in-out;
  @include devices(tablet) {
    height: 150px; 
  }
  
  &:hover {
    background-color: rgb(241, 228, 255)
  }
  
  &:hover i {
    color: $primary;
    opacity: 1;
  }
  
  i {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.2em;
    opacity: .5;
  }
  
  span {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }
}

.componentWrapper {
  border: none;
  border-radius: 40px;
  margin-bottom: 20px;
  width: 85%;
  @include devices(tablet) {
    width: 30%; 
  }

  .howto-label {
    position:absolute;
    margin-left:-8px;
    margin-top: 30px;
    color:white;
    background: $primary;
    font-size: .9em;
    border-radius: 50%;
    padding: 5px 8px 3px 8px;  
    @include devices(tablet) {
      margin-top: 70px; 
    }
  }
}


//home pages explore button, see layout/header a tag
//restaurant pages order button, see pages/restaurants



  
